 body {
    font-family: 'News Cycle', sans-serif;
  
    background-color: #d8b402;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    margin: 0;
   
 }
 ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left:0;
    width: 100%;
    position: fixed;
    transition: 0.3s;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,90);
    background-color: black;
    font-weight: 700;
  }

  
  li {
    float: left;
  }
  
  li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 27px 35px;
    text-decoration: none;
    
   
  }
  
  li a:hover:not(.active) {
    transition: 0.2s;
    background-color: rgba(205, 173, 18, 0.94);
  }
  
  .active {
    background-color: rgba(205, 173, 18, 0.94);
  }

.welcome {
    text-align: center;
    min-height: 100vh;
    padding-top: 250px;  
    -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
  }

  .hero-image {
    background-image: url("background.png");
    background-color: #cccccc;
    

    height: 700px;
    top:78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: black;
  }

.title-main {
    font-size: 50px;
    color: black;
    font-weight: 700;
    overflow: hidden;
    

    
}
.text-main {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    color: black;
    line-height: 1.5;
    
    overflow: hidden;
}


.sportstitle {
    text-align: center;
    padding-top: 130px;
    border-top: 0px solid #C2C2C2;
    background-image: url("sports.png");
    height: 430px;
    top:78px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,90);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .techtitle {
    text-align: center;
    padding-top: 130px;
    border-top: 0px solid #C2C2C2;
    background-image: url("tech.png");
    height: 430px;
    top:78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,90);
    
  }
  .discovertitle {
    text-align: center;
    padding-top: 170px;
    border-top: 0px solid #C2C2C2;
    background-image: url("discover.png");
    height: 430px;
    top:78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,90);
    
  }

  .entertainmenttitle {
    text-align: center;
    padding-top: 130px;
    border-top: 0px solid #C2C2C2;
    background-image: url("entertainment.png");
    height: 430px;
    top:78px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,90);
    
  }

 
  hr {
    margin-top: 90px;
    margin-left: 0px;
    margin-right: auto;
   
  }
  
  
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
ri {
  float: left;
  
}

ri a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 29px;
  text-decoration: none;
 
}

ri a:hover:not(.active) {
  background-color: lightgoldenrodyellow;
}

.active {
  background-color: rgba(205, 173, 18, 0.94);
}



.about-section {
  padding: 9px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.856);
}

.A img:hover {
  box-shadow: 0 0 30px 30px rgba(247, 2, 255, 0.5);
}

div.scrollmenu {
  background-color: transparent;
  border: black;
  overflow: auto;
  scrollbar-width: 300;
  animation: slide infinite linear 14s ;
  scrollbar-width: none;
  white-space: nowrap;
  font-size: 16px;
  

}

div.scrollmenu a {
  scroll-padding:90 ;
  display: inline-block;
  color: black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  animation-play-state: paused;
  padding: 10px 55px;
  scrollbar-width: none; 
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 80px;
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color:lightyellow;
}
 

@keyframes slide {
  0% {
    margin-left: 90px;
  }
  50% {
    margin-left: -100px;
  }
  100% {
    margin-left: -500px;
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  padding: 13px 43px;
  font-size: 22px;
  text-align: center;
  outline: none;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  text-decoration: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 40px;
  box-shadow: 0 8px #999;
  
}

.button:hover {background-color: goldenrod}

.button:active {
  background-color:black;
  box-shadow: 0 5px rgb(46, 46, 46);
  transform: translateY(4px);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
  
}
img {
  padding-top: 2%;
  float: left;
  margin-left: 30px;
  height:35%;
  border-radius: 50%;
}

.landing-text {
  padding-top: 2.5%;
  padding-left: 30%;
  padding-right: 10%;
}


.links {
  padding: 12px 28px;
  font-size: 14px;
  text-align: center;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
  text-decoration: none;
  margin-top: 280px;
  margin-left: 80px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.171);
  border: none;
  border-radius: 40px;
  box-shadow: 0 8px #999;
  
}
.links:hover {background-color: rgba(218, 165, 32, 0.747)}

.links:active {
  background-color:black;
  box-shadow: 0 5px rgb(46, 46, 46);
  transform: translateY(4px);
}

footer {
  padding: 2px 20px;
  background: rgba(0, 0, 0, 0.486);
  color: white;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}